web-app-backend/src/test/resources/repository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="repository" type="repositoryType"/>
  <xs:complexType name="propertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="size" use="optional"/>
  </xs:complexType>
  <xs:complexType name="updateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="range" use="optional"/>
        <xs:attribute type="xs:byte" name="severity" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="providedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="namespace" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="version" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="providesType">
    <xs:sequence>
      <xs:element type="providedType" name="provided" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="size" use="optional"/>
  </xs:complexType>
  <xs:complexType name="requiredType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="filter" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="namespace" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="range" use="optional"/>
  </xs:complexType>
  <xs:complexType name="requiresType">
    <xs:sequence>
      <xs:element type="requiredType" name="required" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="size" use="optional"/>
  </xs:complexType>
  <xs:complexType name="artifactType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="classifier" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="version" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="artifactsType">
    <xs:sequence>
      <xs:element type="artifactType" name="artifact"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="size" use="optional"/>
  </xs:complexType>
  <xs:complexType name="touchpointType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="version" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="instructionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="key" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="instructionsType">
    <xs:sequence>
      <xs:element type="instructionType" name="instruction" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="size" use="optional"/>
  </xs:complexType>
  <xs:complexType name="touchpointDataType">
    <xs:sequence>
      <xs:element type="instructionsType" name="instructions"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="size" use="optional"/>
  </xs:complexType>
  <xs:complexType name="unitType">
    <xs:sequence>
      <xs:element type="updateType" name="update" minOccurs="0"/>
      <xs:element type="propertiesType" name="properties"/>
      <xs:element type="providesType" name="provides"/>
      <xs:element type="requiresType" name="requires" minOccurs="0"/>
      <xs:element type="xs:string" name="filter" minOccurs="0"/>
      <xs:element type="artifactsType" name="artifacts" minOccurs="0"/>
      <xs:element type="touchpointType" name="touchpoint"/>
      <xs:element type="touchpointDataType" name="touchpointData" minOccurs="0"/>
      <xs:element type="copyrightType" name="copyright" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
    <xs:attribute type="xs:string" name="singleton" use="optional"/>
  </xs:complexType>
  <xs:complexType name="copyrightType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:anyURI" name="uri" use="optional"/>
        <xs:attribute type="xs:anyURI" name="url" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="unitsType">
    <xs:sequence>
      <xs:element type="unitType" name="unit" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="size"/>
  </xs:complexType>
  <xs:complexType name="repositoryType">
    <xs:sequence>
      <xs:element type="propertiesType" name="properties"/>
      <xs:element type="unitsType" name="units"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="type"/>
    <xs:attribute type="xs:byte" name="version"/>
  </xs:complexType>
</xs:schema>